<div class="container text-center w-100 h-100">
  <a><img class="col w-100 h-100" src="../../../assets/images/Aboutus/featured-about-us-2.jpg" alt="" ></a>

  <h1  style="color: #FF9900;">{{"Our Team"|translate}}</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col w-25 h-25">
      <div class="card">
        <img  src="../../../assets/images/Aboutus/MohamedSalah" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng. Ahmed Salah"|translate}}</h5>
          <p class="card-text">{{"General Manager"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card">
        <img src="../../../assets/images/Aboutus/Mahomoud" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Mahmoud"|translate}}</h5>
          <p class="card-text">{{"Manager"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card">
        <img src="../../../assets/images/Aboutus/59687595.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng. Asmaa Ahmed"|translate}}</h5>
          <p class="card-text">{{"Supervisor"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card ">
        <img src="../../../assets/images/Aboutus/hessien.enc" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Hussein Elsayed"|translate}}</h5>
          <p class="card-text">{{"Team Leader"|translate}}</p>
        </div>
      </div>
    </div>

    <div class="col w-25 h-25">
      <div class="card">
        <img src="../../../assets/images/Aboutus/Ahmed4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Ahmed Abdultawab"|translate}} </h5>
          <p class="card-text">{{"Team Partner"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card">
        <img src="../../../assets/images/Aboutus/AHMED Famy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Ahmed Fahmy"|translate}}</h5>
          <p class="card-text">{{"Team Partner"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card">
        <img src="../../../assets/images/Aboutus/kareman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Kareman Ahmed"|translate}}</h5>
          <p class="card-text">{{"Team Partner"|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col w-25 h-25">
      <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{"Eng.Hager Mohamed"|translate}}</h5>
          <p class="card-text">{{"Team Partner"|translate}}</p>
        </div>
      </div>
    </div>
  </div>
<div class=" "  >
  <div class=" card container text-center" style="max-width: 1000px;" id="iti">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/images/Aboutus/ITI.jpg" class="img-fluid rounded-start" style="width:600px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{"information technology institute iti"|translate}}</h5>
          <p class="card-text">{{"I and my team wanted to thank the Information and Technology Center and all those who work with it for their great and mighty effort with its students, supporting them and advancing them forward in every step for them, whether in the scholarship or after it.  Thank you very much to the iti entity"|translate}}</p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

