<div class="container">
    <img src="../../../assets/amazonlogo.gif" class="img-fluid mt-4" alt="" />
    <h3 class="fw-normal fs-2 mt-5" style="font-family: Arial, Helvetica, sans-serif">
        {{"Select a payment method"|translate}}
    </h3>
    <form [formGroup]="paymentForm">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <h5 class="card-header">{{"Other payment options"|translate}}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-check form-check-inline col-7 text-start">
                                <input class="form-check-input" type="radio" name="paymentmethod" formControlName="paymentmethod"
                                    id="cash-{{CashOnDelivery.id}}" value="{{CashOnDelivery.value}}" ngModel required />
                                <label class="form-check-label" for="cash-{{CashOnDelivery.id}}"   *ngIf="currentLang=='en'">{{CashOnDelivery.label}}</label>
                                <label class="form-check-label" for="cash-{{CashOnDelivery.id}}"   *ngIf="currentLang=='ar'">{{CashOnDelivery.labelAr}}</label>

                            </div>
                            <div class="form-check form-check-inline col-3  text-start">
                                <input class="form-check-input" type="radio" name="paymentmethod" formControlName="paymentmethod"
                                    id="paypal-{{PayPal.id}}" value="{{PayPal.value}}" ngModel required />
                                <label class="form-check-label " for="paypal-{{PayPal.id}}"             *ngIf="currentLang=='en'"  >{{PayPal.label}}</label>
                                <label class="form-check-label text-start" for="paypal-{{PayPal.id}}"   *ngIf="currentLang=='ar'" >{{PayPal.labelAr}}</label>

                            </div>
                        </div>
                    </div>
                </div><br>


                <div class="card">
                    <h5 class="card-header">{{"Shipping Information"|translate}}</h5>
                    <div class="card-body">
                        <h5 style="display: inline;">{{"Full Name"|translate}}</h5> <span>:  {{userAddress?.fullName}}</span><br>
                        <h5 style="display: inline;">{{"Phone"|translate}}</h5> <span>:  {{userAddress?.phone}}</span><br>
                        <h5 style="display: inline;">{{"Country"|translate}}</h5> <span>:  {{userAddress?.country}}</span><br>
                        <h5 style="display: inline;">{{"City"|translate}}</h5> <span>:  {{userAddress?.city}}</span><br>
                        <h5 style="display: inline;">{{"Governate"|translate}}</h5> <span>:  {{userAddress?.governate}}</span><br>
                        <h5 style="display: inline;">{{"Details"|translate}}</h5> <span>:  {{userAddress?.details}}</span><br>
                    </div>
                </div>



            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">


                                <table class="table mt-3 " style="width: 15rem;background-color: white;border-radius:.5em;">
                                    <thead>
                                      <tr class="text-dark ">
                                        <th scope="col" style="padding: 0.5rem; padding:  0.5em 1em; font-size: 1.2em; ">{{"Cart"|translate}} ({{cartProducts?.items.length}})</th>
                                      </tr>
                                    </thead>
                            
                                    <tbody>
                                      <ng-container *ngFor="let prd of cartProducts?.items ;let i=index">
                                        <tr>
                                          <td><img StyleBox [src]="endpoint+'/'+prd.productId.imagePath[0]" width="60" height="60"></td>
                                          <td style="text-align:left">
                                            <p style="font: 1em Verdana;">{{prd.productId.name}}</p>
                                            <p style="font: 1em Arial;">{{"EGP"|translate}} {{prd.productId.price}}</p>
                                            <p style="font: 1em Arial;">{{"Quantity"|translate}} : {{prd.quantity}} </p>

                                          </td>
                                          
                                        </tr>
                                      </ng-container>
                                    </tbody>
                                  </table>



                                <button id="sendbtn" 
                                    class="btn w-100 fw-bold btn-lg"
                                    style="background-color: #f1c965; font-size: 12px" (click)="backToCart()">
                                    {{"Back To Cart"|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <button id="sendbtn" [disabled]="!paymentForm.valid" routerLink="/#" type="submit"
                                    class="btn w-100 fw-bold btn-lg"
                                    style="background-color: #f1c965; font-size: 12px" (click)="makePayment(totalPriceCart)">
                                    {{"Continue"|translate}}
                                </button>
                                <p class="card-text">
                                    {{"Befor Shippin Price"|translate}} :{{totalPriceCart }}
                                </p>
                                <p class="card-text">
                                   {{"Shipping Price"|translate}} :{{50}}
                                </p>
                                <p class="card-text">
                                    {{"Total Order Price"|translate}} :{{totalPriceCart + 50}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </form>
</div>

<section *ngIf="success" style="display: flex; justify-content: center;">
    <div class="card" style="width: 18rem; margin: 5em; text-align: center;">
      <div class="card-body">
        <h5 class="card-title">{{"succees payment"|translate}}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text"> {{"now you can rest drink coffee until order reach you"|translate}}  </p>
  
        <button class="btn btn-warning  w-100 " [routerLink]="['/']">{{"Start Shopping again"|translate}} </button>
      </div>
    </div>
    <P>
  
  
    </P>
  </section>