<div style="border: 10px;">

    <div style="display: flex;">
        <div class="baseSpace"></div>

        <div class="base" style=" margin-right: 2.5%;">
            <img src="../../../../assets/images/lap.png" alt="" style="width: 500px; height: 400px;">
        </div>
        <div class="base2" style=" margin-left: 2.5%;">
            <h3>Sell on Jumia and grow your business all over Egypt</h3>
            <p>New Seller?</p>
            <button class="btn"><a routerLink="/SellerSignUp">Regester</a></button>
        </div>

        <div class="baseSpace"></div>
    </div>

    <div>
        <div class="heading">
            <h3>Why sell on Jumia?</h3>
            <p>The advantages of selling on Jumia</p>
        </div>

        <div style="display: flex;">
            <div class="whySellConSpace"></div>

            <div class="whySellCon">
                <img src="../../../../assets/images/user-user-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Reach customers all over Egypt</h6><br>
                    <p class="card-text">Show your products to all Jumia’s customers in all over Egypt and reach
                        millions of views and visits to your offers while you are at your place.</p>
                    <a routerLink="/SellerRegester" class="btn">Learn more</a>
                </div>
            </div>
            <div class="whySellCon">
                <img src="../../../../assets/images/delever.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Easy shipping and delivery</h6><br>
                    <p class="card-text">Jumia will deliver all your orders anywhere in Egypt easily and quickly,
                        whether you store the products at your own store or at Jumia’s warehouse.</p>
                    <a routerLink="/SellerRegester" class="btn">Learn more</a>
                </div>
            </div>
            <div class="whySellCon">
                <img src="../../../../assets/images/rate.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">That's a great chance to boost your profits!</h6><br>
                    <p class="card-text">Costs on Jumia are simple, and you can make big profits after displaying and
                        selling your products on Jumia</p>
                    <a routerLink="/SellerRegester" class="btn">Learn more</a>
                </div>
            </div>

            <div class="whySellConSpace"></div>
        </div>
    </div>

    <div>
        <div class="heading2">
            <h3>How do I start selling on Jumia?</h3>
            <p>Start selling on Jumia in just 3 steps</p>
        </div>

        <div style="display: flex;">
            <div class="howSellConSpace"></div>

    
                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1b40ffd4"
                        data-id="1b40ffd4" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-760b12b0 elementor-widget elementor-widget-image"
                                data-id="760b12b0" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a target="_blank" data-ol-has-click-handler="">
                                        <img decoding="async" width="300" height="281"
                                            src="https://sell.jumia.com/wp-content/uploads/2022/04/1-300x281.png"
                                            class="attachment-medium size-medium wp-image-132" alt="" loading="lazy"
                                            srcset="https://sell.jumia.com/wp-content/uploads/2022/04/1-300x281.png 300w, https://sell.jumia.com/wp-content/uploads/2022/04/1.png 404w"
                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-728ee222"
                        data-id="728ee222" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-4f40a256 elementor-widget elementor-widget-image"
                                data-id="4f40a256" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a target="_blank" data-ol-has-click-handler="">
                                        <img decoding="async" width="300" height="277"
                                            src="https://sell.jumia.com/wp-content/uploads/2022/04/2-300x277.png"
                                            class="attachment-medium size-medium wp-image-133" alt="" loading="lazy"
                                            srcset="https://sell.jumia.com/wp-content/uploads/2022/04/2-300x277.png 300w, https://sell.jumia.com/wp-content/uploads/2022/04/2.png 406w"
                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-74ed5f87"
                        data-id="74ed5f87" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-550026b6 elementor-widget elementor-widget-image"
                                data-id="550026b6" data-element_type="widget" data-widget_type="image.default">
                                <div class="elementor-widget-container">
                                    <a target="_blank"
                                        data-ol-has-click-handler="">
                                        <img decoding="async" width="300" height="271"
                                            src="https://sell.jumia.com/wp-content/uploads/2022/04/3-300x271.png"
                                            class="attachment-medium size-medium wp-image-134" alt="" loading="lazy"
                                            srcset="https://sell.jumia.com/wp-content/uploads/2022/04/3-300x271.png 300w, https://sell.jumia.com/wp-content/uploads/2022/04/3.png 420w"
                                            sizes="(max-width: 300px) 100vw, 300px"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                
            
            <div class="howSellConSpace"></div>
        </div>
    </div>
</div>






