<div class="mainDiv">
    <div class="container">
        
        <section class="d-flex flex-wrap col-12 justify-content-between">
            <div *ngFor="let prod of prodList" class="product col-md-2">
                <div class="product2">
                    <a class="favIcon" (click)="removFromWishLIst(prod.productId._id)"><i class="fa-solid fa-trash-can"></i></a>
                    <a  ><img [src]=" 'https://ecommerce-dashboard-website-api2.onrender.com/' + prod.productId.imagePath[0]" alt="" class="myHomeImg"></a>
                    <p><a >{{prod.productId.name.slice(0, 25)}}</a></p>
                </div>
                <div class="price" >
                   {{"EGP"|translate}}{{prod.productId.price}}
                </div>
                <div class="progress progressimg">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 85%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <div>
                    <button type="button" class="btn cardButton text-light" (click)="addToCart(prod.productId._id)">{{"ADD TO CART"|translate}}</button>
                </div>
            </div>
        </section>

        <div class="images">
            <a><img class="col-2" src="../../../assets/images/home/N.png" alt=""></a>
            <a><img class="col-2" src="../../../assets/images/home/R.png" alt=""></a>
            <a><img class="col-2" src="../../../assets/images/home/U.png" alt=""></a>
            <a><img class="col-2" src="../../../assets/images/home/V.png" alt=""></a>
            <a><img class="col-2" src="../../../assets/images/home/YY.png" alt=""></a>
            <a><img class="col-2" src="../../../assets/images/home/XX.png" alt=""></a>
        </div>
        
    </div>
</div>