.slider{
    margin-top: 40px;
    .sided1{
        margin-top: 30px;

    }

    .right-colume{
        .sided{
            border-radius: 10px;
        }
    }
    #carouselExampleAutoplaying{
        .carousel-inner{
            .carousel-item{
                .d-block{
                    height: 400px;
                    border-radius: 10px;
                }
            }

        }

    }
}

*{
  list-style-type: none;
}


.sidebarlink{
    text-decoration: none;
    color: black;
}
.sidebarlink:hover{
    cursor: pointer;
    color: orange;
}


@media screen and (max-width: 425px){
    .slide{
        display: none;
    }
}

@media screen and (max-width: 768px){

    // .left-colume{
    //     ul{
    //         li{
    //             a{
    //                 // font-size: 11px;
    //             }
    //         }
    //     }
    // }

    .right-colume{
        display: none;
    }
}
