<div class="slider row">

    <div class="col-xl-3 bg-white d-flex">
        <ul class="col-xl-12 d-flex flex-column align-self-center justify-content-start">
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3  fa-solid fa-shirt"></i> <a class="sidebarlink" routerLink="/category/642c0a72ff89ab6980edd003" > {{"Fashion"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-children"></i><a class="sidebarlink" routerLink="/subcategory/642c0aaaff89ab6980edd00a">{{"Childern Fashions"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-sharp fa-solid fa-person"></i> <a class="sidebarlink" routerLink="/subcategory/642c0ae4ff89ab6980edd00f">{{"Men's Fashions"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-sharp fa-solid fa-person-dress"></i><a class="sidebarlink" routerLink="/subcategory/642c0b01ff89ab6980edd014">{{"Women's Fashions"|translate}}</a> </li>


            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-brands fa-dribbble"></i> <a class="sidebarlink" routerLink="/category/642c1271ff89ab6980edd04a">{{"Sports Supplies"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-sharp fa-solid fa-person"></i> <a class="sidebarlink" routerLink="/subcategory/642c1305ff89ab6980edd059">{{"Men's Sprtswear"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-sharp fa-solid fa-person-dress"></i> <a class="sidebarlink" routerLink="/subcategory/642c131dff89ab6980edd05e">{{"Women's Sprtswear"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-square-plus"></i> <a class="sidebarlink" routerLink="/subcategory/642c12d3ff89ab6980edd04f">{{"Accessories"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-dumbbell"></i><a class="sidebarlink" routerLink="/subcategory/642c12edff89ab6980edd054">{{"Cardio Training"|translate}}</a></li>


            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 bi bi-shop"></i> <a class="sidebarlink" routerLink="/category/642c13f6ff89ab6980edd065">{{"Houseware"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-blender-phone"></i> <a class="sidebarlink" routerLink="/subcategory/642c141aff89ab6980edd06a">{{"Home Appliances"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-kitchen-set"></i> <a class="sidebarlink" routerLink="/subcategory/642c1433ff89ab6980edd06f">{{"Home Kitchen"|translate}}</a></li>
            <li class="" style="font-size: 18x;"><i style="color: gray;font-size: 20px;" class="mx-3 fa-solid fa-worm"></i> <a class="sidebarlink" routerLink="/subcategory/642c144bff89ab6980edd074">{{"Patio-Lawn-Garden"|translate}}</a></li>

        </ul>
        <!-- /// -->
    </div>

    <div id="carouselExampleAutoplaying" class="carousel slide col-7" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/slider/slider1-1e.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
                <img src="../../../assets/images/slider/slider1-1a.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">

            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/slider/slider1-2e.png" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
                <img src="../../../assets/images/slider/slider1-2a.png" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/slider/slider1-3e.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
                <img src="../../../assets/images/slider/slider1-3a.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/slider/slider1-4e.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
                <img src="../../../assets/images/slider/slider1-4a.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">

            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/slider/slider1-5e.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
              <img src="../../../assets/images/slider/slider1-5a.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">

          </div>

          <div class="carousel-item">
            <img src="../../../assets/images/slider/slider1-6.png" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
            <img src="../../../assets/images/slider/slider1-7a.png" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">

        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/slider/slider1-7e.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='en'">
          <img src="../../../assets/images/slider/slider1-6a.jpg" class="d-block w-100" alt="..." *ngIf="currentLang=='ar'">

      </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{"Previous"|translate}}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{"Next"|translate}}</span>
        </button>
    </div>

    <div class="right-colume col-2">
        <img src="../../../assets/images/Aboutus/slider1.png" class="sided" alt=""   *ngIf="currentLang=='ar'">
        <img src="../../../assets/images/slider1e.png" class="sided" alt=""   *ngIf="currentLang=='en'"><br><br>
        <img src="../../../assets/images/slider2.png" class="sided" alt="" *ngIf="currentLang=='ar'">
        <img src="../../../assets/images/slider2e.png" class="sided" alt="" *ngIf="currentLang=='en'">
    </div>

</div>