.sellerCont{
    margin: 5% ;
    width: 90%;
}

.submetGrob{
   align-items: center;
   justify-content: center; 
}

.sellerSignup{
    border: 0;
    color: white;
    background-color: #FF9900;
    box-shadow: 0 4px 2px -2px gray;
}
